@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply bg-atrium-bg text-atrium-text antialiased;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #252945 transparent;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #252945;
    border-radius: 3px;
  }
}
